*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*font-family: 'Poppins', sans-serif;*/

.img{
    justify-content: left;
}

main{
    height: 100%;
    width: 100%;
    background-color: orange;
}

div video{
    height: calc(100vh - 160px);
    width: 100%;
    background-size: cover;
    background-position: center;
}

body {
    background-color: orange;
}

footer p{
    background-color: orange;
    color: black;
    text-align: center;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px;
}

.redes{
    background-color: orange;
    color: black;
    text-align: center;
    font-size: 36px;
}



/* Section: CONTACTO */

.form-ask h5{
    font-family: Poppins, sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
    margin-bottom: 26px;
}

div form{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-ask{
    width: 600px;
    margin-top: 200px;
    font-size: 16px;
    font-family: Poppins, sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 36px;
    margin: auto;
    margin-top: 124px;
    border-radius: 36px;
}
div textarea{
    width: 600px;
    margin-top: 200px;
    padding: 36px;
    margin: auto;
    margin-top: 10px;
    font-size: 13px;
    font-family: sans-serif;
    border-radius: 36px;
}

.control{
    width: 100%;
    background-color: aliceblue;
    padding: 18px;
    border-radius: 4px;
    margin-bottom: 12px;
}

.form-ask .bottom{
    background-color: black;
    color: orange;
    font-size: 16px;
    font-family: Poppins, sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 2px black;
    border-radius: 22px;
    padding: 10px;
    margin: 14px 0;
}
.form-ask .bottom:hover{
    background-color: #00ff44;
    color: black;
}